/****************General**************/

body
{
	margin: 0px;
	background-color: #F0F2F5;
	font-family: Myriad Pro;
	font-size: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6, p, ul, li, input, label, select, option, textarea 
{
	margin: 0px;
	padding: 0px;
	outline: none;
}

li
{
	list-style-type: none;
}

.clear
{
	clear: both;
}

img, a
{
	outline: none;
	border: none;
}

/*
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
*/

/************Scrollbar*********/

::-webkit-scrollbar {
    width: 8px;
}
 

 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #E32D36
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #E32D36
	}


/************Header***********/

#header
{
	width: 100%;
	padding: 5px 0px 5px 0px;
	background-color: #F0F2F5;
	border-top: 5px solid #FF434C;
	z-index: 10;
}

.header_co
{
	padding: 5px 0px 10px 0px;
}

#content_header
{
	position: relative;
}

#logo
{
	position: absolute;
	z-index: 1500;
	width: 150px;
	top: 10px;
}

#bloc_co
{
	float: right;
	padding-right: 15px;
	padding-top: 5px;
	postition: relative;
}

#bloc_co img
{
	width: 20px;
	float: left;
	margin: 0px 5px;
	cursor: pointer;
}

#bloc_co p
{
	float: left;
	font-size: 1em;
	color: #FF434C;
	margin-right: 10px;
	padding-top: 4px;
}

#logout
{	
	color: #9C9C9C;
	font-size: 0.8em;
	text-decoration: none;
	clear: both;
	float: right;
}

#log
{
	float: right;
	padding-right: 15px;
	padding-top: 5px;
}

#log .items
{
	border: none;
}

#log p
{
	float: right;
	margin: 5px 0px 0px 0px;
	color: #9C9C9C;
	font-size: 0.8em;
}

#log #register
{
	color: #9C9C9C;
	cursor: pointer;
}

#login, #mdp
{
	padding: 7px;
	border-radius: 7px;
	-ms-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	margin: 0px 5px;
	color: #9C9C9C;
}

#subm_log
{
	background-color: #FF434C;
	color: white;
	padding: 7px;
	border-radius: 7px;
	-ms-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-bottom: 2px solid #E73D45;
	cursor: pointer;
}

/******************Menu*****************/

/*********Search*********/

#search
{
	float: left;
}

#show_menu
{
	float: left;
	cursor: pointer;
	margin-right: 7px;
	padding: 5px;
	background-color: #FF434C;
	border-radius: 7px;
	-ms-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
}

#show_menu .lines
{
	display: block;
	width: 20px;
	height: 4px;
	margin: 2px;
	background-color: white;
	border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}

#show_menu:hover
{
	background-color: white;
	transition: all ease-in-out 0.1s;
	-webkit-transition: all ease-in-out 0.1s;
	-moz-transition: all ease-in-out 0.1s;
	-ms-transition: all ease-in-out 0.1s;
	-o-transition: all ease-in-out 0.1s;
}

#show_menu:hover .lines
{
	background-color: #E32D36;
	transition: all ease-in-out 0.1s;
	-webkit-transition: all ease-in-out 0.1s;
	-moz-transition: all ease-in-out 0.1s;
	-ms-transition: all ease-in-out 0.1s;
	-o-transition: all ease-in-out 0.1s;
}

#search_field
{
	position: relative;
	float: left;
}

#loupe
{
	position: absolute;
	right: 5px;
	top: 6px;
}

#keyword
{
	padding-left: 15px;
	padding-top: 5px;
}

#keyword .items
{
	border: none;
}

#keyword #inp_search
{
	border-radius: 7px;
	-ms-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	padding: 7px;
	width: 220px;
	color: #9C9C9C;
}

/*****************Advanced_search****************/

#advanced
{
	position: absolute;
	left: 4px;
	width: 360px;
	background-color: white;
	z-index: 500;
	top: 45px;
	display: none;
	box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
	border-radius: 5px;
}

#advanced:before
{
	content:'';
	position: absolute;
	left: 23px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #FF434C;
}

#advanced p
{
	color: white;
	font-size: 1.3em;
	text-align: center;
	padding: 5px;
	margin-bottom: 5px;
	background-color: #FF434C;
	border-radius: 5px 5px 0px 0px;
}

#advanced ul li input
{
	display: none;
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
}

#advanced li
{
	list-style-type: none;
	float: left;
	display: block;
	margin: 5px 10px;
	width: 100px;
	text-align: center;
}

#advanced li label
{
	width: 100%;
	text-align: center;
	display: block;
	padding: 5px 0px;
	cursor: pointer;
	color: #FF343C;
}

#advanced li label:hover
{
	background-color: #FF434C;
	color: white;
	transition: all ease-in-out 0.2s;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	-ms-transition: all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
}

#advanced .chosen
{
	background-color: #6ACEEB;
	color: white;
}

#advanced #settings
{
	text-align: center;
	padding: 5px 0px 10px 0px;
	border-top: 2px solid #6ACEEB;
	margin-top: 10px;
	border-bottom: 7px solid #6ACEEB;
	border-radius: 0px 0px 5px 5px;
}

#advanced #settings input
{
	display: inline-block;
	background-color: #6ACEEB;
	color: white;
	padding: 7px;
	font-size: 0.8em;
	margin-top: 5px;
	border: none;
	border-bottom: 2px solid #00B6EB;
	cursor: pointer;
	border-radius: 7px;
	-ms-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
}

/****************Footer****************/

#footer
{
	width: 100%;
	border-top: 5px solid white;
	background-color: #FF434C;
}

#footer_content
{
	padding: 15px;
	border-top: 5px solid white;
	background-color: #FF434C;
}

#footer_content p
{
	text-align: center;
	color: white;
}

#footer_content a
{
	color: white;
	text-decoration: none;
}

/***************Page_contact****************/

#contact{
	margin:0 auto;
	width:800px;
	background:#F0F2F5;
	padding-bottom: 15px;
	margin-top: 25px;
}

#contact p
{
	width: 800px;
	text-align: center;
	margin-bottom: 10px;
}


#contact #titre-contact{
	background:#FE434C;
	

}

#contact span{
	color:#fff;
	text-transform:uppercase;
	font-size:30px;
	font-weight:bold;
	margin-left:20px;
	line-height:70px;
}

#contact .fields {
	padding:0px;
	margin:0 auto;
	width:650px;
	margin-left:20px;
	margin-top:20px;
	height:45px;
	font-size:	18px;
	color:#666;
	padding-left:100px;
	border:1px solid #aaa;
	}	


#contact textarea{
	padding:0px;
	margin:0 auto;
	width:730px;
	margin-left:20px;
	margin-top:20px;
	font-size:	20px;
	color:#666;
	padding-left:20px;
	padding-top:15px;
	font-size:15px;
	resize:none;
}	


#name-c{
	background:white url('../img/rabbit.jpg') no-repeat left;
}

#subject-c{
	background:white url('../img/snail.jpg') no-repeat left;
}


.btn-contact{
float:right;
font-size:25px;
padding:5px 20px;
margin-top:15px;
margin-right:28px;
text-decoration:none;
text-transform:uppercase;
color:#f0f2f5;
border: none;
cursor: pointer;
background: #fe434c; /* Old browsers */
}


#footer_content a
{
	color: white;
	text-decoration: none;
}

#thx {
	width:500px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-140px;
	margin-left:-250px;
	
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:24px;
	color:#333;
}

#thx p {
	margin-top:20px;
}